body {
  font-family: Garamond;
  background-image: linear-gradient(to bottom right, blue, purple);
  background-color: #f5f5f5;
  background-opacity: 0.3;
  color: #000000;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #4444bb;
  margin-bottom: 0.2em;
}


h2, p {
  margin: 2px;
  padding: 0;
}

h4, p {
  margin: 2px;
  padding: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #441044;
  font-weight: bold;
  font-size: 4em;
}

