
body {
  font-family: Garamond, "Times New Roman";
  color: #000;
  text-align: center;
  padding: 20px;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom right,
    rgb(44, 44, 255),
    rgb(1, 22, 144)
  );
  opacity: 0.4;
  z-index: -1;
}

h1 {
  color: #4444bb;
  margin-bottom: 0.2em;
  text-decoration: overline underline;
}


h2, p {
  margin: 2px;
  padding: 0;
}

h4, p {
  margin: 2px;
  padding: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #441044;
  font-weight: bold;
  font-size: 2em;
}

  figcaption {
  font-size: 0.5em;
}

